/* #################################### d3 plots */
.svg-container {
  width: 100%;
}
.svg-content {
  height: 100%;
  width: 100%;
}

main {
  align-content: center;
  flex: 1;
  max-width: 100%;
  padding: 0 6px 4rem 25px;
  width: 100%;
}

/* #################################### venn diagram */
.venntooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  height: 16px;
  background: transparent;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}