/* #################################### d3 plots */
.svg-container {
  width: 100%;
}
.svg-content {
  height: 100%;
  width: 100%;
}

main {
  align-content: center;
  flex: 1;
  max-width: 100%;
  padding: 0 6px 4rem 25px;
  width: 100%;
}